{% load rest_framework %}
{% load i18n %}
<h2>{% trans "More-less filtering" %}</h2>
<div class="list-group">
    {% for field, term in options %}
	<label class="list-group-item">{{field}}<input type="text" style="width: 200px" name="{{ field }}" value="{{ term }}"></label>
    {% endfor %}
    <button class="list-group" type="submit"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Filter</button>
</div>
